* {
  font-size: 24px;
  box-sizing: border-box;
  font-family: "Roboto", Sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1c1c1c;
  color: #fff;
}

header {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

header h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  padding: 0.6em;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  background-color: #34af23;
  border-style: solid;
  border-width: 2px;
  border-color: #18360931;
  border-radius: 100px;
  padding: 15px;
  transition-duration: 0.5s;
  transition-property: transform;
}

a i {
  font-size: 1.3em;
  font-weight: 400;
}

a:hover {
  transition-duration: 0.5s;
  transition-property: transform;
  transform: scale(1.1);
}
main {
  background-color: #fff;
  color: black;
}

main h2 {
  text-align: center;
  font-family: "Roboto", Sans-serif;
  font-size: 2em;
  font-weight: 600;
  padding: 0.6em;
  padding-top: 2em;
}

main h3 {
  text-align: center;
  font-size: 1.7em;
  font-weight: 600;
  padding: 0px 0.2em;
}

.itens {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.coluna1 {
  padding-left: 8em;
}
.coluna1,
.coluna2 {
  width: 50%;
  min-width: 20em;
  text-align: initial;
}

.itens p {
  width: 100%;
  display: block;
  margin-top: 0.4em;
}

.itens p i {
  font-size: 1.3em;
  font-weight: 400;
}

.grid-foto-texto {
  width: 100%;
  background-color: #1c1c1c;
  color: #fff;
  padding: 2em 1em 3em 1em;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin-top: 4em;
  justify-content: center;
  margin-bottom: 2em;
}
.grid-texto {
  width: 40%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.grid-texto div {
  padding: 0.3em 0.6em;
}

.grid-texto div h3 {
  text-align: initial;
  font-size: 2em;
  margin-bottom: 0.8em;
}
.grid-texto div h4 {
  text-align: initial;
  font-size: 1.4em;
  margin-bottom: 0.8em;
}
.grid-texto div p {
  text-align: initial;
  font-size: 1.2em;
  margin-bottom: 1.8em;
}
.grid-foto-texto img {
  width: 35%;
  min-width: 25em;
  border-radius: 1em;
}

.depoimentos {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  margin: 1em 2em 3em 2em;
}

.depoimentos h2 {
  padding: 0px;
  margin-bottom: 0.4em;
}

.depoimentos h3 {
  padding: 0px;
  font-size: 1.5em;
}

hr {
  height: 0.2em;
  width: 20em;
  border-width: 0;
  border-radius: 0.2em;
  background-color: rgba(28, 28, 28, 0.95);
  margin: 0.8em 0px 2em;
}

.container-depoimentos {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  padding: 0.3em 0px;
  margin-bottom: 1em;
}

.container-depoimentos img {
  width: 23%;
  -webkit-box-shadow: 1px 1px 44px 3px rgba(28, 28, 28, 0.52);
  box-shadow: 1px 1px 44px 3px rgba(28, 28, 28, 0.52);
  margin: 0.5em;
  border-radius: 0.5em;
  min-width: 16em;
}

footer {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em;
  text-align: center;
}

footer h1 {
  font-size: 2em;
  margin-bottom: 0.8em;
}

footer p {
  margin-bottom: 0.4em;
}

footer a {
  margin-top: 0.8em;
}

@media (max-width: 980px) {
  .coluna2 {
    padding-left: 8em;
  }
  .grid-texto {
    width: 100%;
    text-align: center;
  }
  .grid-texto div h3 {
    text-align: center;
  }
  .grid-texto div h4 {
    text-align: center;
  }
  .grid-texto div p {
    text-align: center;
  }

  .grid-texto a {
    text-align: center;
    margin-bottom: 2em;
  }
  a {
    text-align: center;
  }
}
